@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Input Sans';
  src: url('./Assets/Fonts/InputSans.otf') format('opentype');
}

@font-face {
  font-family: 'Plex Sans';
  src: url('./Assets/Fonts/IBMPlexSans.ttf') format('truetype');
}


.globalBG {
  background-image: url(./Assets/Svg/1.png);
  background-size: 200px, auto;
}

.bannarBG {

  background-image: url(./Assets/Svg/1.png), linear-gradient(to right, #1b3330, #463a24);
  background-position: 0 0, 0 0;
  background-size: 200px, auto;

}

.ghostBtn {

  border: 1px solid currentColor;
  border-radius: 4px;
}

.btn {
  padding: 0.571em 1.42em 0.42em 1.42em;
  border-radius: 4px;
  letter-spacing: 0.04em;

}

.btn:hover {
  opacity: 90%;


}

.primaryBtn {
  background-color: #4f46e5;
  border: 1px solid #6366f1;

}

.heroText {

  font-family: 'Input Sans', sans-serif;
  font-weight: 300;
  line-height: 88px;

  background-image: linear-gradient(to right, #f29871, #ff4d4d);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;




}















/* 


@media (min-width: 640px) {}

@media (min-width: 768px) {}
@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {} */