@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Input Sans';
  src: url('./Assets/Fonts/InputSans.otf') format('opentype');
}

@font-face {
  font-family: 'Plex Sans';
  src: url('./Assets/Fonts/IBMPlexSans.ttf') format('truetype');
}


.globalBG {
  background-image: url(./Assets/Svg/1.png);
  background-size: 200px, auto;
}

.bannarBG {

  background-image: url(./Assets/Svg/1.png), linear-gradient(to right, #1b3330, #463a24);
  background-position: 0 0, 0 0;
  background-size: 200px, auto;

}

.ghostBtn {

  border: 1px solid currentColor;
  border-radius: 4px;
}

.bannarCard {
  background: url(./Assets/Svg/1.png), linear-gradient(-89.99999881140911deg, rgba(0, 170, 255, .04) 0%, rgba(0, 170, 255, .019999999552965164) 100%);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  border: .75px solid rgb(252 252 252 / 5%);
  background-position: 0 0, 0 0;
  background-size: 200px, auto;
}

.btn {
  padding: 0.571em 1.42em 0.42em 1.42em;
  border-radius: 4px;
  letter-spacing: 0.04em;

}

.btn:hover {
  opacity: 90%;


}

.primaryBtn {
  background-color: #4f46e5;
  border: 1px solid #6366f1;

}

.heroText {

  font-family: 'Input Sans', sans-serif;
  font-weight: 300;
  line-height: 88px;

  background-image: linear-gradient(to right, #f29871, #ff4d4d);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;




}

.bannar-grid2-listItem {
  background-image: linear-gradient(.0000026635723315848736deg, rgba(0, 170, 255, .05) 0%, rgba(13, 148, 136, 0.05) 100%);
}

.commonBox {
  border: .75px solid rgb(252 252 252 / 5%)
}




/* src/components/HomePage.css */

html {
  scroll-behavior: smooth;
}

/* 
header {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 0;
}

nav ul li {
  padding: 0.5rem;
}

nav ul li.active {
  border-bottom: 2px solid blue;
}

section {
  padding: 100px 20px;
  min-height: 100vh;
  border-bottom: 1px solid #ccc;
}

 */



/* 


@media (min-width: 640px) {}

@media (min-width: 768px) {}
@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {} */